
    * {
        
        font-family: 'Open Sans', sans-serif;
        
    
      }
      body{

background-color: rgba(15, 101, 19, 0.429);
      }
      header{
        background-color: rgba(10, 50, 43, 0.612) ;
      }